@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html,
body {
  background: linear-gradient(to bottom right, #7f63f4, #140f2f);
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  margin: 0;
  min-height: 275px;
  padding: 0;
  width: 384px;
}

input {
  caret-color: #7f63f4;
  color: #7f63f4 !important;
  font-size: 16px !important;
  padding: 10px !important;
}

select {
  color: #7f63f4 !important;
}

label {
  font-size: 18px;
}

table {
  background-color: #ffffff !important;
  color: #000000;
  margin-bottom: 0 !important;
}

tbody > tr {
  text-transform: capitalize;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #7f63f4 !important;
}

.list-group-item {
  align-items: center;
  color: #000000;
  display: flex;
  justify-content: space-between;
}

#myChart {
  margin-top: 10px;
  width: 100%;
}

#myChart.chart-active {
  background-color: #ffffff;
}

.quickstart-user-details-container .container {
  opacity: 0;
}

#authMessage {
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

tr td i {
  cursor: pointer;
}
